.polls_container {
  padding-top: 2.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.polls_wrapper {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.view_all_comments {
  margin-bottom: 4rem !important;
}

.polls_user_details_wrapper img {
  width: 48px;
  height: 48px;
}
.name_wrapper {
  line-height: 20px !important;
  padding-left: 0.5rem;
}
.name_wrapper :first-child {
  color: var(--pink-font);
  font-weight: 400;
  padding-top: 0.2rem;
  font-size: 18px;
  margin-bottom: 0 !important;
}
.name_wrapper :last-child {
  font-size: 16px;
  font-weight: 400;
  color: #a4a4a4;
  padding-top: 0.3rem;
}
.menu_wrapper {
  text-align: right !important;
}
.menu_wrapper :first-child {
  font-size: 1.6rem;
  color: #a4a4a465;
}
.poll_tagline_wrapper {
  padding-bottom: 1rem;
  color: #252525;
  display: flex;
  font-weight: 400;
}
.poll_tagline_wrapper :first-child {
  padding-right: 0.5rem !important;
}
.poll_tagline_wrapper :nth-child(2) {
  position: relative;
}
.event_tag::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  margin-bottom: 0.25rem;
  background-color: #252525;
  margin-right: 0.5rem;
}
.polls_image_wrapper img {
  max-width: 100%;
  max-height: 100%;
  min-height: 150px;
  margin: 0.5rem 0;
}
.like_comments_tags_wrapper {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #a4a4a4;
}
.likes_tag_wrapper {
  color: var(--pink-font);
  font-weight: 500;
}
.likes_tag_wrapper :first-child {
  font-size: 1.3rem;
}
.heart_solid,
.heart_outline {
  cursor: pointer;
}
.comments_tag_wrapper {
  text-align: right;
  color: #a4a4a4;
}
.comment_field_wrapper {
  position: relative;
  margin: 1.5rem 0rem;
}
.comment_field {
  padding: 0.7rem 3rem !important;
  border-radius: 30px !important;
  background-color: #f8f8f8 !important;
  color: #a4a4a4 !important;
  border: none !important;
}
.comment_field:focus {
  box-shadow: 0 0 0 0.05rem #ea228f !important;
}
.person_image_wrapper img,
.sent_icon_wrapper :first-child {
  position: absolute;
}
.person_image_wrapper img {
  top: 14%;
  left: 1%;
  width: 35px;
}
.sent_icon_wrapper :first-child {
  top: 15%;
  right: 2%;
  font-size: 2rem;
  color: #d9d9d9;
  cursor: pointer;
  transition: 0.1s ease all;
}
.sent_icon_wrapper :first-child:hover {
  color: var(--pink-font);
}
.view_all_comments span {
  color: #a4a4a4;
  cursor: pointer;
}
/* ***************************************** */
.polling_votes_wrapper {
  border-radius: 5px !important;
  margin: 1rem 0;
  background-color: #f3eff1;
  position: relative;
}
.pink_div {
  height: 60px;
  border-radius: 10px;
}
.polling_votes {
  padding: 0.7rem 0;
  display: flex;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  z-index: 1000;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.polls_dropdown_container .polls_dropdown_wrapper {
  text-align: right;
}
.polls_dropdown_wrapper > button {
  background-color: transparent !important;
  border: none !important;
}
.polls_dropdown_wrapper > button::after {
  display: none;
}
.polls_dropdown_wrapper .menu_wrapper {
  border: none !important;
  filter: drop-shadow(-4px -4px 10px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04)) !important;
  text-align: left !important;
  padding: 0.8rem 0;
}
.menu_icon {
  color: #d9d9d9;
  font-size: 1.6rem;
}
.polls_dropdown_wrapper .menu_wrapper > a {
  color: #a4a4a4 !important;
  font-weight: 400 !important;
}
.polls_dropdown_wrapper .menu_wrapper a:active {
  background-color: #f8f8f8 !important;
}
.polls_dropdown_wrapper .menu_wrapper a:hover {
  background-color: #f8f8f8 !important;
}
.menu_wrapper a {
  padding: 0.2rem 1rem !important;
}
@media only screen and (max-width: 768px) {
  .polls_wrapper {
    width: 100%;
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .name_wrapper :last-child {
    font-size: 0.8rem;
    margin-top: -0.4rem;
  }
  .poll_tagline_wrapper {
    font-size: 0.82rem !important;
  }
  .event_tag::before {
    width: 10px !important;
    margin-right: 0.3rem;
  }
  .polling_votes {
    flex-direction: row;
  }
  .pink_div {
    height: 50px;
  }
  .polling_votes :last-child {
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 436px) {
  .poll_tagline_wrapper {
    font-size: 0.78rem;
  }
}
@media only screen and (max-width: 375px) {
  .name_wrapper :first-child {
    font-size: 0.9rem;
  }
  .name_wrapper :last-child {
    font-size: 0.7rem;
  }
  .polls_user_details_wrapper img {
    width: 38px;
    height: 38px;
  }
}
